/* AllProducts.css */

.products-container {
  color:  #000f59;
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.image {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 300px; /* Set the height of the banner image */
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}



.container {
  flex: 1;
  padding: 20px;
}

.row {
  margin-top: 20px;
}

.category-row {
  margin-top: 30px;
}

.category-title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.product-card {
  width: 100%;
  height: 280px; /* Adjust card height */
  padding: 15px;
  border: 3px solid #e4e4e4;
  border-radius: 5px;
  box-shadow: 0 2px 4px #000f59;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .image-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.product-card .product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.product-card .text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-card .product-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.product-card .add-to-cart {
  margin-top: auto;
}

.product-card button {
  background-color:  #000f59;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-card button:hover {
  background-color: rgb(210, 117, 12);
}

/* Additional styles for responsiveness */
@media (max-width: 767px) {
  .sidebar-container {
    width: 100%;
    padding: 10px;
    align-items: center;
  }

  .category-btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .product-card {
    height: 240px;
  }

  .product-card .product-image {
    height: 100px;
  }

  .product-card .product-title {
    font-size: 16px;
  }
}
