.container {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 50%;
  padding: 10px;
}

.product-details {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.product-rating {
  margin-bottom: 30px;
}

.product-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantity-button {
  background-color:  #000f59;
  border: none;
  color: #fff;
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

.quantity-value {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
}

.add-to-cart-button {
  background-color:  #000f59;
  border: none;
  color: #fff;
  border-radius: 9px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

.customer-reviews {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 9px;
  margin-top: 20px;
}

.review-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-floating {
  margin-bottom: 20px;
}

.form-floating textarea {
  height: 100px;
}

.rating-input {
  margin-bottom: 20px;
}

/* .submit-button {
  text-align: center;
} */

.btn-dark {
  background-color:  #000f59;
  border: none;
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}
